.navbar {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
    -moz-box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
}
a.navbar-brand img {
    width: 150px;
}
.navbar-nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #101010;
    font-weight: 500;
    margin-left: 40px;
}
.navbar-nav a.regular-btn {

    color: #fff;
}
.regular-btn {
    background: #F91944;
    padding: 7px 30px;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    border: 0;
}
a.cart {
    position: relative;
}

a.cart span {
    position: absolute;
    top: -11px;
    right: -11px;
    background: #F91944;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    .navbar .navbar-nav {
        align-items: flex-start !important;
        padding: 20px 10px;
    }
    .navbar-nav a {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    .navbar .navbar-nav {
        align-items: flex-start !important;
        padding: 20px 10px;
    }
    .navbar-nav a {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    .navbar .navbar-nav {
        align-items: flex-start !important;
        padding: 20px 10px;
    }
    .navbar-nav a {
        margin: 10px 0;
    }
}



