.single-about {
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.single-about:hover {
    background-color: #fff;
    box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
    -moz-box-shadow: 0px 0px 21px 4px rgba(115,111,111,0.15);
    border-radius: 15px;
}

.about-thumb img {
    width: 100%;
}
.about-body img {
    width: 40px;
    height: 40px;
}
.about-body {
    padding: 20px 10px;
}

.about-context {
    margin-left: 10px;
}
.about-body h4 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #101010;
    margin-bottom: 15px;
}
.about-body p {
    font-size: 14px;
    margin-bottom: 10px;
}
.about-body a {
    text-decoration: none;
    font-weight: 500;
}